.descriptions{
    margin: 10px;
}
.calendar-Row{
    margin: 20px;
}
.calendar-Box{
    text-align: center;
    line-height: 60px;
    // 缩略省略字符 ...
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}