.welcome{
    .box1{
        width: 100px;
        height: 30px;
        background-color: aqua;
    }
    .box2{
        width: 100px;
        height: 30px;
        background-color: aquamarine;
    }
}