$num: 150px;

.welcome{
    .box1{
        width: $num;
        height: 30px;
        background-color: aqua;
    }
    .box2{
        width: $num;
        height: 30px;
        background-color: aquamarine;
    }
}